[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
gudhi = "*"
matplotlib = "*"
dataclasses-json = "*"
ipycanvas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
